@import "../mixins/mixins.scss";
@import "../colors/colors.scss";
.footer {
  background-color: $primary;
  font-weight: $font-weight-SemiBold;
  .footer-part {
    border-left: 0.0625rem solid $dark-liver;
    .toggle-foot {
      h6 {
        color: $secondary;
        font-weight: $font-weight-bold;
        letter-spacing: 0.0582rem;
      }
    }
    .sections {
      font-size: 0.875em;
      a {
        font-size: 0.875rem;
        letter-spacing: 0.05125rem;
        word-break: break-all;
        display: block;
        width: fit-content;
        padding: 0 !important;
        @include margin-bot-10;
        &:hover {
          display: block;
        }
      }
      &.footer-icons {
        a {
          display: inline;
          svg {
            font-size: 1.2rem;
            margin-right: 1rem;
          }
          &:hover {
            color: $secondary;
          }
        }
      }
      svg {
        margin-right: 0.625rem;
      }
    }
    &.find-us {
      .sections {
        a {
          line-height: 1.75rem;
        }
      }
    }
  }
  .rights {
    background-color: $Indigo;
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .footer {
    .footer-part {
      a {
        &:not(a.fotter-icons) {
          @include nav-animation;
          &::before {
            bottom: -0.3125rem;
          }
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .footer {
    .footer-part {
      .sections {
        .footer-email {
          display: flex;
          align-items: center;
          font-size: 0.69rem;
          svg {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (min-width: 400px) and(max-width: 500px) {
  .footer {
    .rights {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: 399px) {
  .footer {
    .rights {
      font-size: 0.5rem;
    }
  }
}
// ----------------------------------------------
@media (max-width: 767px) {
  .footer-part {
    display: flex;
    flex-direction: column;
    .toggle-foot {
      .part-heading {
        margin-bottom: 1.5rem;
      }
      .foot-arr {
        transition: 1s ease;
        width: 0rem;
        height: 0rem;
        border-left: 0.625rem solid transparent;
        border-right: 0.625rem solid transparent;
        border-top: 0.625rem solid $secondary;
        &.active-rot {
          transform: rotate(180deg);
          transition: 1s ease;
        }
      }
    }
    .sections {
      display: none;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }
    .logo {
      order: 1;
    }
  }
}

// ----------------------------------------------
