@import "../colors/colors.scss";
@import "../mixins/mixins.scss";

/* START PHOTOS SLIDER  */
.carousel {
  .carousel-item {
    min-height: 31.25rem;
    img {
      object-fit: cover;
      min-height: 31.25rem;
    }
  }
  .carousel-indicators {
    margin-bottom: 00;
    li {
      margin: 0 0.9375rem 0.9375rem 0;
      border-radius: 50%;
      border: 0.0625rem solid $white;
      opacity: 1;
      box-shadow: 0 0.125rem 0.3125rem 0.0625rem $shadow-color;
    }
    .active {
      background-color: initial;
    }
  }
  .carousel-caption {
    background-color: $oxford-blue-transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    overflow: hidden;
    .caption-sentence {
      margin-bottom: 0;
      font-family: "Times New Roman", Times, serif;
      letter-spacing: 0.125rem;
    }
  }
}
@media (min-width: 992px) {
  .carousel {
    .carousel-caption {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 34.3%;
      height: 55%;
      left: unset;
      right: 12%;
    }
  }
}

@media (min-width: 1200px) {
  .carousel {
    .carousel-caption {
      padding: 4rem 3rem;
    }
    .caption-sentence {
      font-size: 2.5rem;
      line-height: 4.03625rem;
    }
  }
}

@media (max-width: 1200px) {
  .carousel {
    .carousel-caption {
      padding: 0 2rem;
    }
    .caption-sentence {
      font-size: 2rem;
      line-height: 1.5;
    }
  }
}
@media (max-width: 990px) {
  .carousel {
    .carousel-caption {
      padding: 1.25rem 1rem;
    }
    .caption-sentence {
      font-size: 2rem;
      line-height: 1.2;
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    .caption-sentence {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 575px) {
  .carousel {
    .caption-sentence {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1700px) {
  .carousel {
    .carousel-indicators {
      li {
        width: 1rem;
        height: 1rem;
      }
    }
    .carousel-caption {
      .caption-sentence {
        font-size: 3.5rem;
        line-height: 6.03625rem;
      }
    }
  }
}
@media (min-width: 2000px) {
  .carousel {
    .carousel-indicators {
      li {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .carousel-caption {
      .caption-sentence {
        font-size: 4rem;
        line-height: 7.03625rem;
      }
    }
  }
}

/* END PHOTOS SLIDER  */
/**/
/**/
/* START NEWS */
.news {
  .sections-news {
    .box {
      overflow: hidden;
      position: relative;
      img {
        width: inherit;
      }
      .course-title {
        background-color: $primary;
        color: $white;
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: 1rem;
        letter-spacing: 0.025rem;
        width: 100%;
        font-weight: $font-weight-bold;
      }
    }
  }
  .main-news {
    background-color: $anti-flash-white;
    h2 {
      color: $primary;
      font-weight: $font-weight-bold;
      letter-spacing: 0.05625rem;
      border-bottom: 0.1875rem solid $primary;
    }
    .news-box {
      padding-bottom: 2.5rem;

      .news-publish-date {
        color: $primary;
        font-size: 0.875rem;
        line-height: 1.4375rem;
      }
      .news-title {
        color: $primary;
        font-size: 1rem;
        font-weight: $font-weight-SemiBold;
        letter-spacing: 0.025rem;
      }
      .news-body {
        font-size: 1rem;
        line-height: 1.625rem;
        color: $quartz;
      }
      .news-more {
        color: $primary;
        font-size: 0.875rem;
        letter-spacing: 0.022rem;
        font-weight: $font-weight-bold;
        position: absolute;
        right: 0;
      }
    }
    .news-box {
      &:not(:last-child) {
        border-bottom: 0.125rem solid $light-gray;
      }
    }
  }
}

@media (min-width: 992px) {
  .news {
    .main-news {
      .news-box {
        a {
          @include nav-animation;
          &::before {
            bottom: -0.3125rem;
          }
        }
      }
    }
  }
  .sections-news {
    .box {
      img {
        transition: all 0.5s ease-in-out;
        transform: scale(1.3);
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .news {
    .sections-news {
      .box {
        .course-title {
          font-size: 0.8rem;
        }
      }
    }
  }
}
/* END NEWS */
/**/
/**/
/* START TOP BANNER  */
.international {
  background-color: $primary;
  color: $secondary;
  .prof-program {
    img {
      color: $secondary;
      transform: scale(0.65);
    }
    .ready-programs {
      font-size: 4.125rem;
      font-weight: $font-weight-bold;
      margin-top: 0;
    }
    .prog-desc {
      font-size: 1.5rem;
      font-weight: $font-weight-SemiBold;
      word-break: break-all;
    }
    .number-counter-section {
      letter-spacing: 0.1rem;
    }
    .prog-desc {
      letter-spacing: 0.0925rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .international {
    .prof-program {
      .ready-programs {
        font-size: 2rem;
      }
      .prog-desc {
        font-size: 1.1rem;
      }
      img {
        color: $secondary;
        width: 10rem;
        height: 9.375rem;
        justify-self: end;
      }
    }
  }
  .odometer-digit {
    font-size: 2rem;
  }
}

@media (max-width: 767px) {
  .international {
    .prof-program {
      .number-counter-section {
        margin-top: -2.1875rem;
      }
    }
  }
  .international {
    .prof-program {
      .prog-desc {
        margin-top: -0.9375rem;
        padding-bottom: 1.5625rem;
      }
    }
  }
}
/* END TOP BANNER  */
/**/
/**/
/* START EVENTS  */
.events {
  h2 {
    color: $primary;
    font-weight: $font-weight-bold;
    border-bottom: 0.1875rem solid $primary;
    letter-spacing: 0.05625rem;
  }
  .card {
    .card-body {
      align-items: flex-start;
      p {
        color: $quartz;
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.625rem;
      }
      .card-title {
        font-size: 1rem;
        letter-spacing: 0.025rem;
        color: $primary;
        font-weight: $font-weight-SemiBold;
      }
      .event-time-place {
        .event-time {
          font-size: 0.875rem;
          color: $primary;
          line-height: 1.4375rem;
          font-weight: $font-weight-normal;
        }
      }
      .learn-more {
        color: $primary;
        font-size: 0.875rem;
        font-weight: $font-weight-bold;
        position: absolute;
        letter-spacing: 0.022rem;
        bottom: 0;
        right: 0;
      }
    }
    .event-top-section {
      .event-icon {
        top: 2%;
        right: 0;
        color: $secondary;
        font-size: 5rem;
        .event-day {
          font-size: 2.125rem;
          margin-top: 0.5rem;
          color: $primary;
          font-weight: $font-weight-ExtraBold;
        }
        .event-month {
          font-size: 1.75rem;
          margin-top: 1.5rem;
          color: $primary;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .events {
    .card {
      .card-body {
        a {
          @include nav-animation;
          &::before {
            bottom: -0.3125rem;
          }
        }
      }
    }
  }
}
/* END EVENTS  */
/**/
/**/
/* START BOTTOM BANNER */
.apply-section {
  max-height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  .apply-text {
    font-size: 3.625rem;
    color: $primary;
    font-weight: $font-weight-ExtraBold;
    width: 80%;
    .apply-button {
      font-weight: $font-weight-ExtraBold;
      color: $secondary;
      background-color: $primary;
      padding: 1vw 3.625vw;
      width: fit-content;
      &:hover {
        background-color: $secondary;
        color: $primary;
      }
    }
  }
}
@media (min-width: 1200px) {
  .apply-section {
    .apply-text {
      font-size: 3.625rem;
    }
  }
}
@media (max-width: 1200px) {
  .apply-section {
    .apply-text {
      font-size: 3rem;
    }
  }
}
@media (max-width: 990px) {
  .apply-section {
    .apply-text {
      font-size: 2.5rem;
    }
  }
}
@media (max-width: 767px) {
  .apply-section {
    .apply-text {
      font-size: 2rem;
    }
  }
}

@media (max-width: 575px) {
  .apply-section {
    .apply-text {
      font-size: 1.5rem;
    }
  }
}

/* END BOTTOM BANNER */
/**/
/**/
/* START GET IN TOUCH  */
.get-in-touch {
  .contact-form {
    background-color: $cultured;
    h2 {
      color: $primary;
      font-weight: $font-weight-bold;
      border-bottom: 0.1875rem solid $primary;
      letter-spacing: 0.05625rem;
    }
    .form-submit-btn {
      color: $secondary;
      background-color: $primary;
      border: none;
      border-radius: 0;
      font-size: 1.125rem;
      font-weight: $font-weight-bold;
      font-family: "Raleway", sans-serif;
      padding: 0.875rem 2.5rem;
      line-height: 1.167;
      &:active,
      &:focus {
        color: $secondary;
        background-color: $primary;
        outline: none;
      }
      &:hover {
        color: $primary;
        background-color: $secondary;
        outline: none;
      }
    }
  }
}

@media (max-width: 375px) {
  .get-in-touch {
    .contact-form {
      h2 {
        font-size: 2rem;
      }
    }
  }
}

/* END GET IN TOUCH */

/* START SCROLL TO TOP BUTTON */
.scroll-top {
  position: fixed;
  top: 85%;
  right: 2%;
  z-index: 3;
  cursor: pointer;
  display: none;
  svg {
    border: 0.125rem solid $white;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    color: $primary;
    background-color: $white;
  }
}
/* END SCROLL TO TOP BUTTON */
