// ---------------------------
// ---- SPACING MIXINS -------
@mixin margin-bot-10 {
  margin-bottom: 0.625rem;
}
@mixin mr-10-mix {
  margin-right: 0.625rem;
}
// ---------------------------

// -----------------------------------
// ---- Navbar Animation mixin -------
@mixin nav-animation {
  & {
    position: relative;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $yellow-munsell;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  &:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  &.active::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}
// -----------------------------------
