$philippine-silver: #b6b6b6;
$oxford-blue: #021a4f;
$anti-flash-white: #f3f3f3;
$light-gray: #d5d5d5;
$quartz: #4a4a4a;
$yellow-munsell: #e4c800;
$cultured: #f7f7f7;
$dark-liver: #4d4d4d;
$Indigo: #223663;
$oxford-blue-transparent: #021a4ebf;
$linkedin-col: #0077b5;
$youtube-col: #ff0000;
$instagram-col: #c13584;
$twitter-col: #1da1f2;
$facebook-col: #1877f2;
$white:#ffffff;
$shadow-color :#0000001a;